* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 2px solid black;
    min-width: 329px;
    min-height: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}
